@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;1,300&display=swap'); */


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Press Start 2P', sans-serif;
    height: 100vh;
    background-color: #516DFF;
    color: #fff;
    overflow: hidden;
    text-align: center;
}

.screen {
    height: 101vh;
    transition: margin 0.5s ease-out;
    display: flex;
    align-items: center;
    /* justify-content: center; */
    flex-direction: column;
    margin-top: 7rem;
}

/* Styling Welcome Screen */

/* .screen.rules {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 5rem;
} */

.screen.rules .title h4 {
    font-size: 1rem;
}

.screen.rules .title h2 {
    font-size: 2rem;
    font-weight: bold;
    margin-top: 3rem;
}

.screen.rules .rules-img {
    width: 250px;
    height: 250px;
    /* border: 1px solid #fff; */
    margin: 3rem 0;
}

.screen.rules .rules-img img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.screen.rules .game-start {
    padding: 15px 20px;
    color: #516DFF;
    background-color: #fff;
    border: none;
    font-family: inherit;
    margin-top: 3rem;
    cursor: pointer;
}

.screen.rules .game-start:hover {
    opacity: 0.9;
}

.screen.up {
    margin-top: -100vh;
}

/* Styling Game Container */
.screen.game-div {
    margin: 0;
    justify-content: center;
}

.screen.game-div .choices {
    display: flex;
    margin: 5rem 0;
    list-style-type: none;
}

.screen.game-div .choices li {
    margin: 0 10px;
}

.screen.game-div .choices .choose-RPS {
    background-color: transparent;
    border: 2px solid #fff;
    color: #fff;
    cursor: pointer;
    font-family: inherit;
    width: 150px;
    height: 150px;
}

.screen.game-div .choices .choose-RPS p {
    user-select: none;
}

.screen.game-div .choices .choose-RPS img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin-top: 0.5rem;
    pointer-events: none;
}

.screen.game-div .choices .choose-RPS:hover {
    background-color: #fff;
    color: #516DFF;
}

.screen.game-div .choices .choose-RPS:active {
    background-color: rgba(255, 255, 255, 0.7);
}

.screen.game-div .choices .choose-RPS:focus {
    outline: none;
}

.screen.game-div .results {
    width: 490px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 18px;
}

.screen.game-div .results .player-score {
    color: #40E0D0; 
}

.screen.game-div .results .computer-score {
    color:  #DE3163;
}

